#window {
    background-color: #0e0e0e;
    border: solid 2px #875faf;
}
#input {
    background-color: #0e0e0e;
    color: white;
    font-size: 20px;
    background-color: #0e0e0e;
    border: solid 2px #875faf;
}

#inner-box {
}

#entry {
    margin-left: 4px;
    font-size: 20px;
    border: solid 1px #000;
}

#img {
    padding: 14px;
}

#scroll {
    color: #6c6c6c;
}

#entry:selected {
    background-color: #111111;
    color: #bcbcbc;
}
