.status-bar {
  @include bar;
}

.sundial-lbl {
    font-size: 12px;
    font-weight: normal;
}

.utility-box {
  border-radius: 20px;
  box-shadow: 10px 5px 5px black;
  background-color: rgba(0,0,0,.1);
  padding: 0 3;
}

button.utility-box:hover {
  background-color: rgba(0,0,0,5);
  box-shadow: 7px 2px 2px black;
}

.status-icon {
    font-size: 12px;
    margin: 0 2px 0 2px
}

.volume-slider-box, .brightness-slider-box {
  trough { background-color: $base; }
}
.volume-bar highlight {
  @include rounding;
  background-image: linear-gradient(to right, $white, $sky);
}

.brightness-slider-box scale highlight {
  @include rounding;
  background-image: linear-gradient(to right, $purple, $yellow);
}

.system-menu-box {
  @include window;
  background-color: $bg;
  border: 1px solid $border;
  color: $text;
}

.separator {
  font-size: 1rem;
}

.top-row {
  margin: 1rem 1.5rem 0;

  .time { font-size: 2rem; }

  .date-box {
    margin: 0 1rem;

    label { font-size: 1.1rem; }

    .date {
      background: unset;
      margin: 0 .5rem 0 0;
      padding: 0;
    }
  }
}

.system-row {
  margin: .5rem .7rem;

  .airplane-box button {
    padding: 1rem 3rem;
  }

  label {
    font-size: 1rem;
    margin: 0 .1rem;
  }
}

.element {
  @include rounding;
  background-color: $surface0;
  margin: .3rem;

  button {
    @include rounding;
    padding: 1rem;

    label {
      font-size: 1.5rem;
    }

    &:hover {
      background-color: $overlay0;
    }
  }
}

.sliders {
  @include rounding;
  background-color: $surface0;
  margin: .5rem 1rem;
  padding: .6rem 1rem;

  scale {
    margin-right: -1rem;
    min-width: 26.5rem;
  }

  box { margin: .2rem 0; }

  label { font-size: 1.2rem; }
}

.volume-slider-box, .brightness-slider-box {
  trough { background-color: $base; }
}
.volume-bar highlight {
  @include rounding;
  background-image: linear-gradient(to right, $white, $sky);
}

.brightness-slider-box scale highlight {
  @include rounding;
  background-image: linear-gradient(to right, $lavender, $peach);
}

.bottom-row {
  margin: .5rem 1rem;

  .battery-icon { 
    font-size: 2rem;
  }
  .battery-wattage { color: $mauve; }

  .battery-status {
    color: $subtext0;
    margin: 0 .5rem;
  }

  button {
    background-color: $surface0;
    border-radius: 33%;
    margin-bottom: .1rem;
    padding: 0 .5rem;

    label { font-size: 1.5rem; }
    &:hover { background-color: $overlay0; }
  }
}

.bt-connected {
  background-color: #89b4fa;
  color: #11111b;
  button:hover { background-color: #7ba2e1; }
}

.wifi-connected {
  background-color: #cba6f7;  
  color: #11111b;

  button:hover { background-color: #b695de; }
}

.airplane-mode-on {
  background-color: $teal;  
  color: #11111b;

  button:hover { background-color: #b695de; }
}


.membar {
  color: $peach;
}

.cpubar {
  color: $blue;
}

.batbar {
  color: $green;
}

.membar,
.cpubar,
.batbar {
  background-color: $bg1;
}

.iconmem {
  color: $peach;
}

.iconcpu {
  color: $blue;
}

.icon-text {
  font-size: 3rem;
  padding: .7rem;
}

.sys-text-sub {
  color: $text;
}

.sys-text-mem,
.sys-text-cpu {
  font-size: 1rem;
  font-weight: bold;
}

.sys-icon-mem,
.sys-icon-cpu {
  font-size: 3.5rem;
  margin: 1.5rem;
}

.system-info-box {
  @include rounding;
  background-color: $surface0;
  margin: .5rem 1rem;
  padding: .5rem;
}

.sys-mem,
.sys-cpu {
  background-color: $bg;
}

.sys-icon-mem,
.sys-text-mem,
.sys-mem {
  color: $peach;
}

.sys-icon-cpu,
.sys-text-cpu,
.sys-cpu {
  color: $blue;
}

.sys-box {
  margin: .3em;
  box { margin-left: 1rem; }
}

.event-header {
  font-size: 24px;
  margin: 0 2px 4px;
  color: $lavender;
}

.event-box {
  @include rounding;
  background-color: $bg;
  margin: .5rem 1rem;
  padding: .5rem;
}

.event-time {
  font-size: 16px;
}
